extends base

block content  
    main.main.home 
        img(src='/img/gusto_home.jpg' alt='Gusto')
        div 
            h1 Gusto&RemoteTeam Bootcamp Project
            p In this project, the user can create his own account and log in to the system. After logging into the system, he can change his registration information and password, and if he wishes, he can also delete his account. Login is required to view user records.
            a.btn.btn-success.mt-auto(href="/users", role="button") Show Users
      
             